.env
.env.*
!.env.example
**/google-services.json
**/GoogleService-Info.plist
**/android/key.properties
**/android/app/release-key.jks
**/build/
**/.dart_tool/
**/.packages
**/ios/Pods/
**/android/.gradle/
node_modules/
coverage/
